{% extends "layout.html.twig" %}
{% block body %}
<section>
    {% if showForm == false %}
    <p>Vous n'avez pas les droits nécessaires pour pouvoir supprimer ce commentaire</p>
    {% endif %}
</section>
{% endblock %}

