{% extends "layout.html.twig" %}
{% block body %}

<section>
    {% if showForm %}
    <form action="/p5/blog/editComment/{{ comment.id }}" method="post">
        <p>
            <label>modifier le commentaire :</label><br>
            <textarea name="comment" rows="7" cols="50">{{ comment.comment }}</textarea><br />

            <input type="hidden" name="token" id="token" value="{{ session.get('token') }}" />
            <input type="submit" value="modifier" />
        </p>
    </form>
    {% else %}

    <p>Vous n'avez pas l'autorisation d'acceder a cette page</p>

    {% endif %}
</section>

{% endblock %}
