{% extends "layout.html.twig" %}
{% block body %}
    {% if cooldown %}
        <p>Bloqué 15 min</p>
    {% else %}
        <form action="/login/forgot-password" method="post">
            <div class="form-group">
                <label for="emailInput">Adresse e-mail</label><br>
                <input type="email" class="form-control" name="email" value="" />
            </div>
            <button type="submit" class="btn btn-primary">Se connecter</button>
        </form>
    {% endif %}
    {% if incorrectInfos %}
        <p>Nom d'utilisateur ou mot de passe incorrect</p>
    {% endif %}
{% endblock %}