{% extends "layout.html.twig" %}
{% block header %}
    <section id="banner">
        <header>
            <h2>Damien Chedan</h2>
            <p>"Tester, c'est doutér"</p>
        </header>
        <h3>Mes comptes Linkedin/Github & Twitter se trouvent en bas de page :)</h3>
        <p style="font-size: 1.5em"><a href="/public/pdf/cv.pdf">CV</a></p>
    </section>
{% endblock %}