{% extends "layout.html.twig" %}
{% block body %}
    {% if cooldown %}
        <p>Bloqué 15 min</p>
    {% else %}
    <form action="/login" method="post">
        <div class="form-group">
            <label for="nicknameInput">Nom d'utilisateur</label><br>
            <input type="text" class="form-control" id="nicknameInput" name="nickname" value="" />
        </div>
        <div class="form-group">
            <label for="passwordInput">Mot de passe</label><br>
            <input type="password" class="form-control" id="passwordInput" name="password" value=""/>
            <em><a href="/login/forgot-password">Mot de passe oublié ?</a></em>
        </div>
            <button type="submit" class="btn btn-primary">Se connecter</button>
    </form>
    {% endif %}
    {% if incorrectInfos %}
    <p>Nom d'utilisateur ou mot de passe incorrect</p>
    {% endif %}
{% endblock %}