{% extends "layout.html.twig" %}
    {% block body %}
<section>
    <header class="major">
        <h2>Mes articles</h2>
    </header>
    <div class="row">
    {% for post in posts %}

        <div class="col-6 col-12-small">
            <section class="box">
                <header>
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.creationDate }}</p>
                </header>
                <p>{{ post.content|slice(1, 50) }}</p>
                <footer>
                    <ul class="actions">
                        <li><a href="/p5/blog/post/{{ post.id }}" class="button icon fa-file-text">Lire la suite</a></li>
                    </ul>
                </footer>
            </section>
        </div>

    {% endfor %}
    </div>
</section>
{% endblock %}
