{% extends "layout.html.twig" %}
{% block header %}
    <section id="banner">
        <header>
            <h2>Erreur 404</h2>
            <p>Page not found :'(</p>
        </header>
    </section>
{% endblock %}
